#navbar {
    overflow: hidden;
    background-color: #333;
    font-family:impact; 
  
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  #top-picture{
      min-height:650px;
      background:url('https://strawberrytours.com/images/RioDeJaneiro/Tours/FreeHistoricalCenterTourOfRio/rio-de-janeiro-cover-v3.jpg') no-repeat ;
      background-size: cover;
      padding-top: 70px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
  }

  .form{
	border-radius: 5px;
    padding: 30px;
    text-align: center;
    font-family:Tahoma;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    
    padding: 0 6px;
    float: left;
    width: 32%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.box{
	float: left;
	width:45%;
	padding: 10px;
	box-sizing: border-box;
	min-height: 500px;
 	text-align: center;
 	background-color: #e6f2ff;
 	font-size:20px;
     border-radius: 8px;
    margin: 20px;
}
  