<form class="form" name = "loginForm">
    <h2>Please enter Username and Password</h2>
    <label>Username: </label>
    <input type = "text" name = "username" ng-model = "lgnCtrl.user.username">
    <br><br>
    <label>Password: </label>
    <input type = "password" name = "password" ng-model = "lgnCtrl.user.password">
    <br><br>
    <button type = "submit" ng-click = "lgnCtrl.login()">Submit</button>
    <button ng-click="lgnCtrl.showForgetPassword()">Forgot my password</button>
    <br><br>
    <p>Still don't have an account? please <a href="#/sign in">sign in</a></p>
</form>

<div ng-show="lgnCtrl.forgetPassword">
    <form class="form" name = "retrivePassword">
        <h2>Please enter your varification details</h2>
        <label>Username: </label>
        <input type = "text" name = "username" ng-model = "lgnCtrl.data.username">
        <br><br>
        <label>Verification Question:</label>
        <select name = "ques1" ng-model="lgnCtrl.data.questId" ng-options="question.Question_id[0] as question.Question_name for question in lgnCtrl.questions"></select>
        <br><br>
        <label>Your Answer: </label>
        <input type = "text" name = "answer" ng-model = "lgnCtrl.data.ans">
        <br><br>
        <button ng-click="lgnCtrl.retrivePassword()">Check my password</button>
        <span ng-model=lgnCtrl.user.password ng-show=lgnCtrl.user.correctPassword>Your password is: {{lgnCtrl.user.password}}</span>
    </form>
</div>

<h1><center>Explore!</center></h1>
<div ng-repeat="poi in lgnCtrl.randPopularPOI" class="responsive">
        <div class="gallery">
            <img src="{{poi.poiInfo.ImgPath}}" height="100" ng-click="lgnCtrl.showPoiDetails(poi.poiInfo.POI_id)">
          <div class="desc">{{poi.poiInfo.POI_name}}</div>
        </div>
      </div>

      <dialog id="poiDialog" ng-model="lgnCtrl.poi">
        <center>
            <h1>More Details</h1>
            <p ng-model="lgnCtrl.poi.poiInfo.NumOfViewers">Number of viewers: {{lgnCtrl.poi.poiInfo.NumOfViewers}}</p> 
            <p ng-model="lgnCtrl.poi.poiInfo.POI_description">Description: {{lgnCtrl.poi.poiInfo.POI_description}}</p> 
            <p>rate: {{lgnCtrl.poi.poiInfo.POI_avgRank}}</p>
            <h3>Reviews</h3> 

            <button ng-click="lgnCtrl.closeDialog()">close</button>
        </center>
    </dialog>