
#img-poi {
    width:  20%;
    height: 370px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.category-header{
    width: 100%; 
    /* background-color: aqua; */
}

#filter{
    width: 50%;
}

 input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}