<h1><center>Your Favourite Points of Intrests</center></h1>
<div id="img-poi" ng-repeat="poi in fpoiCtrl.savedPOI" class="responsive">
        <div class="gallery">
          <a target="_blank" href="{{poi.poiInfo.ImgPath}}">
            <img src="{{poi.poiInfo.ImgPath}}" height="100">
          </a>
          <div class="desc">{{poi.poiInfo.POI_name}}
                <!-- <a id="star" ng-click="fpoiCtrl.addToFavourite">&#9733;</a> -->
                <button ng-click="fpoiCtrl.addToFavourite(poi.poiInfo.POI_id)">dd</button>
        </div>
      </div>
    </div>

    