<h1><center>Your Favourite Points of Intrests</center></h1>
<div id="img-poi" ng-repeat="poi in fpoiCtrl.savedPOI" class="responsive">
        <div class="gallery">
          <img src="{{poi.poiInfo.ImgPath}}" height="100" ng-click="lgnCtrl.showPoiDetails(poi.poiInfo.POI_id)">
          <div class="desc">{{$index + 1}}. {{poi.poiInfo.POI_name}}
                <span id="star" ng-click="fpoiCtrl.addToFavourite(poi.poiInfo.POI_id)" ng-class="{checked: poi.checked}">&#9733;</span>
                <br><br>
                <button ng-click="fpoiCtrl.moveUp(poi.poiInfo.POI_id)">&#8592</button> 
                <button ng-click="fpoiCtrl.moveDown(poi.poiInfo.POI_id)">&#8594</button>

        </div>
      </div>
    </div>

    <button ng-click="fpoiCtrl.saveFavListToServer()">Save my favorite list</button>

    