<!-- login form -->
<div class="panel panel-primary">
    <div class="panel-heading">Welcome! Please sign in</div>
    <div class="container panel-body">
        <form id="loginForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="lgnCtrl.user.username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="lgnCtrl.user.password">
            </div>
            <center>
                <button type="submit" class="btn btn-primary" ng-click="lgnCtrl.login()">Submit</button>
            </center>
            &nbsp;
            <div>
                <center>
                    <button class="btn btn-default" ng-click="lgnCtrl.showForgetPassword()">Forgot my password</md-button>
                </center>
            </div>
            &nbsp;
            <center>
                <p class="text-info">Still don't have an account? please
                    <a href="#/signUp">sign up</a>.
                </p>
            </center>
        </form>
    </div>
</div>

<!-- forgot password -->
<div class="panel panel-info" ng-show="lgnCtrl.forgetPassword">
    <div class="panel-heading">Forgot password</div>
    <div class="container panel-body" ng-show="lgnCtrl.forgetPassword">
        <form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="usernameForgotMyPassword" placeholder="Enter username" name="username" ng-model="lgnCtrl.data.username">
            </div>
            <button type="submit" class="btn btn-default" ng-click="lgnCtrl.showQuestions()">Next</button>
            <label class="text-danger" ng-show="lgnCtrl.wrongUser">Wrong username!</label>
        </form>
    </div>
    <div class="container panel-body" ng-show="lgnCtrl.showVerQuestions">
        <form>
            <div class="form-group">
                <label for="verificationQuestion">Verification Question:</label>
                <select class="form-control" name="ques1" ng-model="lgnCtrl.data.questId" ng-options="question.Question_id[0] as question.Question_name for question in lgnCtrl.verQuestions"></select>
            </div>
            <div class="form-group">
                <label for="verificationAnswer">Answer:</label>
                <input class="form-control" type="text" name="answer" ng-model="lgnCtrl.data.ans">
            </div>
            <button type="submit" class="btn btn-info" ng-click="lgnCtrl.retrivePassword()">Retrieve my password</button>
            <span ng-model=lgnCtrl.user.password ng-show=lgnCtrl.user.correctPassword>Your password is: {{lgnCtrl.user.password}}</span>
        </form>
    </div>
</div>

<!-- explore -->
<div class="panel panel-default">
    <div class="panel-heading">Explore!</div>
    <center>
        <div class="container panel-body">
            <div class="row">
                <div class="col-sm-4" ng-repeat="poi in lgnCtrl.randPopularPOI">
                    <div class="thumbnail">
                        <a href="javascript:void(0);">
                            <img class="thumbnailImageLogin" src="{{poi.poiInfo.ImgPath}}" ng-click="lgnCtrl.showPoiDetails(poi.poiInfo.POI_id)">
                            <div class="caption">
                                {{poi.poiInfo.POI_name}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>