<!-- <span>hello {{homeCtrl.username}}</span> -->

<div class="box">
        <h1><center>Recommend For You</center></h1>
        <div ng-repeat="poi in homeCtrl.recomendedPOI" class="responsive">
                <div class="gallery">
                  <a target="_blank" href="{{poi.poiInfo.ImgPath}}">
                    <img src="{{poi.poiInfo.ImgPath}}" height="100">
                  </a>
                  <div class="desc">{{poi.poiInfo.POI_name}}</div>
                </div>
              </div>

</div>

<div class="box">
        <h1><center>Last Saved POI</center></h1>


</div>