<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <center>
        <div class="panel panel-primary">
          <div class="panel-heading">Recommended for You</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6" ng-repeat="poi in homeCtrl.recomendedPOI">
                <div class="thumbnail">
                  <a href="">
                    <img class="thumbnailImage" src="{{poi.poiInfo.ImgPath}}" ng-click="homeCtrl.showPoiDetails(poi.poiInfo.POI_id)">
                    <div class="caption">
                      {{poi.poiInfo.POI_name}}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <div class="col-sm-6" ng-hide="homeCtrl.noFavorites">
      <center>
        <div class="panel panel-primary">
          <div class="panel-heading">Most Recent Saved POIs</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6" ng-repeat="poi in homeCtrl.savedPOI">
                <div class="thumbnail">
                  <a href="">
                    <img class="thumbnailImage" src="{{poi.poiInfo.ImgPath}}" ng-click="homeCtrl.showPoiDetails(poi.poiInfo.POI_id)">
                    <div class="caption">
                      {{poi.poiInfo.POI_name}}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
<center>
  <h2 ng-show="homeCtrl.noFavorites">No saved points of Interest!</h2>
</center>